/* Header */
.header-main {
    display: flex; position: absolute;
    top: 0; left: 0; right: 0; height: 125px; width: 100%;
    background-color: #fff; box-shadow: 0 1px 20px 0px rgb(0 0 0 / 30%);
    justify-content: space-between; 
}
.menu-main { 
    display: flex; width: 100%; padding-right: 15px; padding-left: 15px;
    align-items: center; margin: 0; justify-content: space-between;
}
header > h1 > a, header > h1 > a > img { display: block; width: 200px; height: 100px; }
header > h1 { display: flex; width: 17%; align-items: center; justify-content: center; }
.menu-main > ul { display: inline-flex; border-right: 1px solid #ebebeb; }
.menu-main > ul > li {
    position: relative; display: inline;
    font-size: 14pt; align-items: center;
    border-left: 1px solid #ebebeb;
}
.menu-main > ul > li > a {
    position: relative; display: flex;
    height: 85px; width: 170px;
    padding-top: 20%; margin-right: -4px;
    background-color: #fff; justify-content: center;
    align-items: center; font-weight: 500; transition: .5s;
}
.menu-left { width: fit-content; margin-left: 5%; } .menu-right { width: fit-content; margin-right: 5%; }


/* Container */
.container { width: 100%; display: flex; justify-content: space-between; margin-top: 150px; }


/* Section */
.container_left { display: inline; padding: 2% 0 50px 15%; width: fit-content; } .section_wrap { display: inline-block; padding-right: 200px; max-width: 1200px; width: 100%; margin: 1.2% auto; }
.main_content { display: flex; font-size: 0; margin: 2% auto; } .content_list { display: inline-block; width: 33.3%; vertical-align: top; } .content_img { width: 330px; height: 280px; }
.content_link { display: block; width: auto; text-decoration: none; margin: 5px; } .content_top { position: relative; overflow: hidden; }
.content_text { position: absolute; top: 150%; left: 30px; z-index: 2; color: #fff; font-size: 26px; transition: all .35s; } .content_bottom h3 { font-size: 14px; text-align: center; padding: 20px; color: #666; }
.content_list a .content_top::after { content: ''; display:block; position: absolute; top: 0; left: 0; width: 330px; height: 100%; background: rgba(0,0,0,.5); z-index: 1; opacity: 0; transition: all .35s; }
.content_list a:hover .content_text { top: 33%; } 
.content_list a:hover .content_top::after { opacity: 0.6; } 


/* Aside */
.aside-main { position: relative; float: right; margin-right: 16%; margin-top: 5%; width: 18%; }
.topic-wrap { padding-bottom: 10px; } .topic-wrap > ul { display: table; }
.topic-wrap > ul > li {
    display: table; width: 100%; height: 85px; padding-bottom: 10px;
    border-top: 1px solid #efeff0; border-color: #efeff0;
}
.topic-body { display: inline-block; } .topic-text { vertical-align: middle; padding-right: 16px; }
.topic-img { position: relative; background-size: 95px; } 
.topic-img > img { 
    float: right; position: relative; overflow: hidden;
    width: 132px; height: 90px; margin: 3px 0 0 30px;
    border-radius: 3px; background-color: #f5f5f5; text-align: center;
}


/* Footer */
footer { 
    width: 100%; bottom: 0; position: relative; padding-top: 50px; 
    background-color: #fff; box-shadow: 20px 1px 0px 0px rgb(0 0 0 / 30%); 
} 
.main-footer { width: inherit; display: flex; justify-content: space-between; } .footer-logo { display: inline-block; background-color: transparent; } .footer-logo > img { width: 150px; height: 80px; }
.footer-link { display: inline; position: relative; align-items: center; } .footer-link > li { display: inline-block; position: relative; margin: 1px; }
.footer-left { width: 20%; left: 0; display: inline; } .footer-middle { width: 30%; text-align: center; padding-top: 2%; font-size: 10pt; } .footer-right { width: 20%; right: 0; display: flex; justify-content: space-evenly; align-items: center;}


/* Icon */
.header-main [class^=icon-] { position: absolute; top: 33px; left: 50%; width: 27px; height: 27px; background-size: contain; transition: .5s; transform: translateX(-50%); }
.icon-intro { background-image: url(../images/icon-intro.png); background-color: transparent; overflow: hidden; }
.icon-sea { background-image: url(../images/icon-sea.png); background-color: transparent; overflow: hidden; }
.icon-river {background-image: url(../images/icon-river.png); background-color: transparent; overflow: hidden; }
.icon-board { background-image: url(../images/icon-board.png); background-color: transparent; overflow: hidden; }
.icon-fish { background-image: url(../images/icon-fish.png); background-color: transparent; overflow: hidden; }
.icon-news {background-image: url(../images/icon-news.png); background-color: transparent; overflow: hidden;}
.icon-login {background-image: url(../images/icon-login.png); background-color: transparent; overflow: hidden; width: 38px; height: 38px;}
.icon-scnu {background-image: url(../images/icon-scnu.png); background-color: transparent; display: inline-block; overflow: hidden; width: 46px; height: 46px;}
.icon-facebook {background-image: url(../images/icon-facebook.png);background-color: transparent;display: inline-block;overflow: hidden;width: 43px;height: 43px; }
.icon-insta {background-image: url(../images/icon-insta.png); background-color: transparent; display: inline-block; overflow: hidden; width: 43px; height: 43px; }


/* Font */
body {
    font-family: 'Noto Sans','Noto Sans KR','Apple SD Gothic Neo','맑은 고딕',sans-serif;
    font-size: 16px;
    color: #000;
}
.topic-highlight { color: #4978f4; font-style: normal; } strong { font-weight: bold; font-size: 16pt; }


/* Etc */
html, body { margin: 0; padding: 0; } a:link {color: black; text-decoration: none;} a:visited {color: black; text-decoration: none;}


/* Error Page */
.error_container { position: absolute; width: 100%; height: 100%; align-items: center; text-align: center; font-family: "Hancom Gothic", "Malgun Gothic"; font-size: 20pt; } #error_img { width: 400px; height: 400px;  margin-top: 15%; }
.error_container > strong { display:block; font-size: 40pt; font-weight: bold; margin-bottom: 15px;} .error_container > a { font-weight: bold; }
.icon-return {background-image: url(../images/icon-return.png); position: absolute; left: 50%; width: 40px; height: 40px; background-size: contain; transition: .5s; transform: translateX(-50%); }
